/* CSS For Nav Bar */

#nav-bar {
    min-width: 450px;
    height: 80px;
    left: 0;
    right: 0;
    background-color: #00a087;
    color: #e8fdff;
    position: fixed;
    z-index: 1;
    display: inline-flex;
    justify-content: space-around;
    }

#nav-bar .nav-content {
    align-content: center;
    min-width: 450px;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
}
#nav-bar .header {
    font-size: 2em;
    vertical-align: 80%;
}

#nav-bar .button {
vertical-align: 140%;
padding: .5em;
margin-left: 11em;
margin-right: auto;
border-style: solid;
border-color: black;
border-width: .075em;
border-radius: .25em;
background-color: #e8fdff; 
font-size: 1.3em;
font-weight: 300;
color: #00a087;
cursor: pointer;
}

#nav-bar .button:hover {
    color: black;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    #nav-bar .button{
        margin-left: 6em;
    }
}