/* CSS For Nav Bar */

nav#nav-bar {
    height: 80px;
    /* width: 100%; */
    left: 0;
    right: 0;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    /* padding-right: 2em; */
    /* float: left; */
    position: fixed;
    top: 0;
    z-index: 1;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}
#nav-bar .header {
    font-size: 2em;
    line-height: 250%;
    padding-left: 10px;
}